@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

.green-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include main-green-color;
  @include main-sans-font;

  .header-content {
    width: 100%;
    max-width: 1200px;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    align-items: center;
    margin: 15px;
    padding: 0;
    font-size: 1rem;
  }

  .home-link {
    cursor: pointer;
  }

  .home-link:hover {
    text-decoration: underline;
  }
}

.image-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 10px;
  }

  .career-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 90%;
    color: white;
    font-size: 4.5rem;
    text-align: center;

    @include main-sans-font;
  }

  .text-section {
    width: 100%;
    text-align: center;
    line-height: 1.4;

    @include main-sans-font;

    h2 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    .first-text {
      margin-top: 0px;
    }

    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      margin-top: 0px;
    }

    p {
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 15px;
    }

    li {
      padding-right: 15px;
    }
  }
}

@media (min-width: 600px) {
  .image-text-section {
    .text-overlay {
      font-size: 5rem;
    }
  }
}

@import "./career-desktop.scss";
