@use "../mixins/colors.scss" as *;
@use "../mixins/fonts.scss" as *;

@media (min-width: 1024px) {
  .about-us-container {
    height: 100%;
  }
  .home-header {
    .header-left {
      p {
        margin-left: 35px;
      }
    }

    .header-right {
      p {
        margin-right: 35px;
      }
    }
  }

  .background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
  }

  .texts {
    display: flex;
    flex-direction: row;

    .text-1 {
      @include main-sans-font;
      height: auto;
      width: 30%;

      p {
        font-size: 1.5rem;
      }
    }

    .text-2 {
      height: auto;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 1.5rem;
      }
    }
  }
}
