@media (min-width: 840px) {
  .home-container {
    .home-header {
      .header-left {
        p {
          margin-left: 25px;
          font-size: 1.1rem;
        }
      }

      .header-right {
        p {
          margin-right: 25px;
          font-size: 1.1rem;
        }
      }
    }

    .image-section {
      .text-box-image {
        margin-top: 339px;

        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }

    .text-info-section {
      margin-top: 145px !important;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
