.header {
    display: flex;
    flex-direction: row;

    .header-logo {
        height: auto;
        width: 130px;
    }

    .nav-items {
        
        li {
            
        }
    }


}

.hidden {
    display: none;
}