.home-container {
  display: flex;
  flex-direction: column;

  .home-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #5bbe9b;
    color: white;
    // padding: 0 20px;
    height: 60px;
    width: 100%;

    p {
      margin: 0;
      font-size: 1.2rem;
    }

    img {
      margin-left: 8px;
      max-height: 20px;
      max-width: 20px;
    }
  }

  .image-section {
    // position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../assets/images/home-page/home-page-image.png");
    background-size: cover;
    background-position: center;
    display: block;

    .text-box-image {
      padding: 20px;
      text-align: center;
      margin-top: 245px;

      h2 {
        color: #8b61c2;
      }

      p {
        color: #a6a6a6;
      }
    }
  }
}
