@import "./header.scss/header.scss";
@import "./home.scss";
@import "./science-technology/science-technology.scss";
@import "./career/career.scss";

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
