@use './header/header.scss' as *;
@use "./collaboration-partners/collaborations-partners.scss" as *;
@use "./home/home.scss" as *;
@use "./science-technology/science-technology.scss" as *;
@use "./career/career.scss" as *;
@use "./contact/contact.scss" as *;

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}
