@import './header/header.scss';
@import './collaboration-partners/collaboration-partners.scss';
@import "./home/home.scss";
@import "./science-technology/science-technology.scss";
@import "./career/career.scss";

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
