@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-right {
    p {
      font-size: 1rem;
      margin-right: 10px;
    }
  }

  .background-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .text-container {
    text-align: center;
    margin-top: 100px;

    @include main-sans-font;

    h1 {
      font-size: 1.3rem;
    }

    h2 {
      font-size: 1.3rem;
      margin-top: 30px;
    }

    p {
      font-size: 1.6rem;
      font-weight: bold;
      margin-top: 50px;
    }
  }
}
