@media (min-width: 1024px) {
  .home-header {
    .header-left {
      p {
        margin-left: 35px;
      }
    }

    .header-right {
      p {
        margin-right: 35px;
      }
    }
  }

  .image-container {
    justify-content: flex-start;

    .science-technology-image {
      max-width: 50%;
    }
  }
}
