@media (min-width: 1024px) {

  .science-technology-container {
    flex-direction: row;

    .text-info-section {

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.2rem;
      }

      h4 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .image-container {
      width: auto;
      height: auto;

      .science-technology-image {
        width: auto;
        height: 400px;
      }
    }
  }
}
