@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

.science-technology-container {
  display: flex;
  flex-direction: column;

  .image-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;

    .science-technology-image {
      width: 100%;
      height: auto;
    }
  }

  .text-info-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include main-sans-font;
    text-align: left;

    h2 {
      color: #737373;
      text-align: center;
      font-size: 1.2rem;
    }

    h3 {
      margin: 0 0 0 20px;
      color: #545454;
    }

    h4 {
      margin: 10px 0 0 30px;
      color: #737373;
    }

    p {
      color: #737373;
    }
  }
}


