@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

.science-technology-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 60px;
  width: 100%;

  @include main-green-color;
  @include main-sans-font;

  .header-left {
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
      font-size: 1rem;
    }

    img {
      margin-left: 8px;
      max-height: 20px;
      max-width: 20px;
      margin-right: 7px;
    }
  }

  .header-right {
    p {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  .science-technology-image {
    max-width: 100%;
    height: auto;
  }
}
