@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

.green-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include main-green-color;
  @include main-sans-font;

  .header-content {
    width: 100%;
    max-width: 1200px;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    align-items: center;
    margin: 15px;
    padding: 0;
    font-size: 1rem;
  }

  .home-link {
    cursor: pointer;
  }

  .home-link:hover {
    text-decoration: underline;
  }
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px 0 0 0;
  gap: 40px;

  .profile-jessica {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-dmytro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: auto;
    width: 200px;
  }

  .info-text {
    text-align: center;

    h1 {
      @include main-sans-font;
      font-weight: bold;
      font-size: 1.2rem;
      margin: 25px 0 0 0;
    }

    h3 {
      margin: 5px;
      @include main-sans-font;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
