@use "../mixins/fonts.scss" as *;
@use "../mixins/colors.scss" as *;

@media (min-width: 768px) {
  .home-header {
    .header-left {
      p {
        margin-left: 25px;
        font-size: 1.1rem;
      }
    }

    .header-right {
      p {
        margin-right: 25px;
        font-size: 1.1rem;
      }
    }
  }

  .profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0 0 0;
    gap: 40px;

    img {
      border-radius: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      height: auto;
      width: 300px;
    }

    .info-text {
      text-align: center;

      h1 {
        @include main-sans-font;
        font-weight: bold;
        font-size: 2rem;
        margin: 25px 0 0 0;
      }

      h3 {
        margin: 5px;
        @include main-sans-font;
        font-weight: bold;
      }
    }
  }
}
